{% extends "index.html" %}

{% block title %}Courses - SoftwareCareerLink{% endblock %}

{% block content %}
    <header>
        <h3>Our Courses</h3>  {# Heading for the courses page #}
    </header>
    {% include 'banner.html' %}  {# Includes a banner for visual appeal or promotional content #}
    <main>
        <section>
            <h4>Available Courses</h4>  {# Subheading for the list of available courses #}
            <p>Explore a variety of courses designed to enhance your skills and help you advance your career in the tech industry.</p>  {# Introductory paragraph describing the purpose of the courses #}
            <ul>
                <li>Introduction to Software Engineering</li>  {# List item for the Introduction to Software Engineering course #}
                <li>Advanced Python Programming</li>  {# List item for the Advanced Python Programming course #}
                <li>Web Development with Flask</li>  {# List item for the Web Development with Flask course #}
                <li>Data Science and Machine Learning</li>  {# List item for the Data Science and Machine Learning course #}
            </ul>
        </section>
    </main>
    <div/>  {# Empty div, possibly for layout purposes #}
    {% include 'footer.html' %}  {# Includes a footer for consistent navigation and information #}
{% endblock %}
