{% extends "index.html" %}

{% block title %}Courses - SoftwareCareerLink{% endblock %}

{% block content %}
    <header>
        <h3>Our Courses</h3>
    </header>
    {% include 'banner.html' %}
    <main>
        <section>
            <h4>Available Courses</h4>
            <p>Explore a variety of courses designed to enhance your skills and help you advance your career in the tech industry.</p>
            <ul>
                <li>Introduction to Software Engineering</li>
                <li>Advanced Python Programming</li>
                <li>Web Development with Flask</li>
                <li>Data Science and Machine Learning</li>
            </ul>
        </section>
    </main>
    <div/>
    {% include 'footer.html' %}
{% endblock %}