<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bootstrap.html' %}
    <title>FAQs - SoftwareCareerLink</title>
    
</head>
<body>
    {% include 'nav.html' %}
    <div class="container"> 
    <header>
        <h1>Frequently Asked Questions</h1>
        {% include 'banner.html' %}
    </header>
    <main>
        <section>
            <h2>General Questions</h2>
            <dl>
                <dt>What is SoftwareCareerLink?</dt>
                <dd>SoftwareCareerLink is a platform designed to help software engineers connect with career opportunities in the tech industry.</dd>
                
                <dt>How do I sign up?</dt>
                <dd>You can sign up by clicking on the "Sign Up" button on the homepage and filling out the registration form.</dd>

                <dt>What courses are offered?</dt>
                <dd>We offer a range of courses from introductory programming to advanced data science and machine learning.</dd>
                
                <dt>How do I access my courses?</dt>
                <dd>Once you've signed up and logged in, you can access your courses from the "My Courses" section of your dashboard.</dd>
            </dl>
        </section>
    </main>
    
    </footer>
    </div>
    {% include 'footer.html' %}
</body>
</html>
