{% extends "index.html" %}
{% block title %}FAQs - SoftwareCareerLink{% endblock %}
{% block content %} 
    <header>
        <h3>Frequently Asked Questions</h3>
        {% include 'banner.html' %}
    </header>
    <main>
        <section>
            <h4>General Questions</h4>
            <dl>
                <dt>What is SoftwareCareerLink?</dt>
                <dd>SoftwareCareerLink is a platform designed to help software engineers connect with career opportunities in the tech industry.</dd>
                
                <dt>How do I Check My Status?</dt>
                <dd>You can Check by clicking on the "user_login" button on the homepage and enter email that apply from application_form.</dd>

                <dt>What courses are offered?</dt>
                <dd>We offer a range of courses from introductory programming to advanced data science and machine learning.</dd>
                
                <dt>How do I access my courses?</dt>
                <dd>Once you've signed up and logged in, you can access your courses from the "My Courses" section of your dashboard.</dd>
            </dl>
        </section>
    </main>
    </footer>
    </div>
    {% include 'footer.html' %}
{% endblock %}