{% extends "base.html" %}

{% block title %}Home - SoftwareCareerLink{% endblock %}

{% block content %}
<!-- Main Content Specific to Home Page -->

{% include 'banner.html' %}
<h3 class="text-center my-3">About SoftwareCareerLink</h3>
<p class="lead">SoftwareCareerLink is a platform designed to connect software engineers, particularly from Ethiopia, with career opportunities in the tech industry.</p>

<h2 class="text-center my-3">Job Openings</h2>
<div>
    {% for job in jobs %}
    {% include 'jobitem.html' %}
    {% endfor %}
</div>
{% endblock %}
