{% extends "base.html" %}
{% block content %}
<h1 class="my-4">Job Details</h1>
<div class="container">
        <h2>{{ job.title }}</h2>
        <p><strong>Location:</strong> {{ job.location }}</p>
        <p><strong>Responsibilities:</strong> {{ job.responsibilities }}</p>
        <p><strong>Requirements:</strong> {{ job.requirements }}</p>
        <p><strong>Salary:</strong> {{ job.salary }} {{ job.currency }}</p>
     <!-- Include the application form -->
     {% include 'application_form.html' %}
</div>
{% endblock %}
