{% extends "index.html" %}
{% block title %}Pricing - SoftwareCareerLink{% endblock %}
{% block content %}
    <header>
        <h3>Pricing Plans</h3>
    </header>
    {% include 'banner.html' %}
    <main>
        <section>
            <h4>Choose the Plan That’s Right for You</h4>
            <p>We offer flexible pricing plans to suit your needs.</p>
            <ul>
                <li><strong>Basic:</strong> Free - Access to limited courses</li>
                <li><strong>Standard:</strong> 1000 ETB/month - Access to all courses and community support</li>
                <li><strong>Premium:</strong> 2000 ETB/month - Access to all courses, community support, and one-on-one mentoring</li>
            </ul>
        </section>
    </main>
    <div/>
    {% include 'footer.html' %}  {# Include the footer at the end of the page #}
{% endblock %}
